.db_heaventlight_cond{font-family: 'db_heaventlight_cond';}
.db_heaventcond{font-family: 'db_heaventcond';}
.db_heaventregular{font-family: 'db_heaventregular';}
.db_heaventbold{font-family: 'db_heaventbold';}
.db_heaventbold_cond{font-family: 'db_heaventbold_cond';}
.db_heaventmed{font-family: 'db_heaventmed';}
.db_heaventmed_cond{font-family: 'db_heaventcond'; font-weight:bold;}
.DB_ITALIANDIDOT{ font-family: 'italiandidotnormal';}


@font-face {
    font-family: 'italiandidotnormal';
    src: url('italdn-webfont.eot');
    src: url('italdn-webfont.eot?#iefix') format('embedded-opentype'),
         url('italdn-webfont.woff2') format('woff2'),
         url('italdn-webfont.woff') format('woff'),
         url('italdn-webfont.ttf') format('truetype'),
         url('italdn-webfont.svg#italiandidotnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'db_heaventlight_cond';
    src: url('db_heavent_li_cond_v3.2-webfont.eot');
    src: url('db_heavent_li_cond_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('db_heavent_li_cond_v3.2-webfont.woff2') format('woff2'),
         url('db_heavent_li_cond_v3.2-webfont.woff') format('woff'),
         url('db_heavent_li_cond_v3.2-webfont.ttf') format('truetype'),
         url('db_heavent_li_cond_v3.2-webfont.svg#db_heaventlight_cond') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'db_heaventmed';
    src: url('db_heavent_med_v3.2-webfont.eot');
    src: url('db_heavent_med_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('db_heavent_med_v3.2-webfont.woff2') format('woff2'),
         url('db_heavent_med_v3.2-webfont.woff') format('woff'),
         url('db_heavent_med_v3.2-webfont.ttf') format('truetype'),
         url('db_heavent_med_v3.2-webfont.svg#db_heaventmed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'db_heaventmed_cond';
    src: url('db_heavent_med_cond_v3.2-webfont.eot');
    src: url('db_heavent_med_cond_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('db_heavent_med_cond_v3.2-webfont.woff2') format('woff2'),
         url('db_heavent_med_cond_v3.2-webfont.woff') format('woff'),
         url('db_heavent_med_cond_v3.2-webfont.ttf') format('truetype'),
         url('db_heavent_med_cond_v3.2-webfont.svg#db_heaventmed_cond') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'db_heaventcond';
    src: url('db_heavent_cond_v3.2-webfont.eot');
    src: url('db_heavent_cond_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('db_heavent_cond_v3.2-webfont.woff2') format('woff2'),
         url('db_heavent_cond_v3.2-webfont.woff') format('woff'),
         url('db_heavent_cond_v3.2-webfont.ttf') format('truetype'),
         url('db_heavent_cond_v3.2-webfont.svg#db_heaventcond') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'db_heaventbold_cond';
    src: url('db_heavent_bd_cond_v3.2-webfont.eot');
    src: url('db_heavent_bd_cond_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('db_heavent_bd_cond_v3.2-webfont.woff2') format('woff2'),
         url('db_heavent_bd_cond_v3.2-webfont.woff') format('woff'),
         url('db_heavent_bd_cond_v3.2-webfont.ttf') format('truetype'),
         url('db_heavent_bd_cond_v3.2-webfont.svg#db_heaventbold_cond') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db_heaventblack_cond';
    src: url('db_heavent_blk_cond_v3.2-webfont.eot');
    src: url('db_heavent_blk_cond_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('db_heavent_blk_cond_v3.2-webfont.woff2') format('woff2'),
         url('db_heavent_blk_cond_v3.2-webfont.woff') format('woff'),
         url('db_heavent_blk_cond_v3.2-webfont.ttf') format('truetype'),
         url('db_heavent_blk_cond_v3.2-webfont.svg#db_heaventblack_cond') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'akrobatbold';
    src: url('akrobat-bold-webfont.eot');
    src: url('akrobat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('akrobat-bold-webfont.woff2') format('woff2'),
         url('akrobat-bold-webfont.woff') format('woff'),
         url('akrobat-bold-webfont.ttf') format('truetype'),
         url('akrobat-bold-webfont.svg#akrobatbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'akrobatextrabold';
    src: url('akrobat-extrabold-webfont.eot');
    src: url('akrobat-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('akrobat-extrabold-webfont.woff2') format('woff2'),
         url('akrobat-extrabold-webfont.woff') format('woff'),
         url('akrobat-extrabold-webfont.ttf') format('truetype'),
         url('akrobat-extrabold-webfont.svg#akrobatextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

